/* theme classes */
.blue-pad {
  background: hsl(223, 31%, 20%);
}

.white-pad {
  background: hsl(0, 5%, 81%);
}

.purple-pad {
  background: hsl(268, 71%, 12%);
}

.pad {
  min-width: 100%; min-height: 400px;
  border-radius: 10px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

